<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Our JS -->
    <script type="text/javascript" src="../static/js/code.js"></script>
    
    <title>Machine Learning vs. Cervical Cancer</title>
  </head>
  <body>
  
    <div class="jumbotron hero-image">
      <h1 class="display-4">Machine Learning vs. Cervical Cancer</h1>
      <p class="lead">Can we build a model to predict cervical cancer risk based on subjective and objective medical information?</p>
      <hr class="my-4" width="50%">
      <button type="button" class="btn btn-outline-primary" value="intro" onclick="optionChanged(this.value)">Intro</button>
      <button type="button" class="btn btn-outline-primary" value="rawData" onclick="optionChanged(this.value)">Raw Data</button>
      <button type="button" class="btn btn-outline-primary" value="patientData" onclick="optionChanged(this.value)">Patient Data</button>
      <button type="button" class="btn btn-outline-primary" value="visualizations" onclick="optionChanged(this.value)">Visualizations</button>
      <button type="button" class="btn btn-outline-primary" value="modelDevelopment" onclick="optionChanged(this.value)">Model Development</button>
      <button type="button" class="btn btn-outline-primary" value="exploreModel" onclick="optionChanged(this.value)">Explore Model</button>
      <!-- <select id="selVisual" onchange="optionChanged(this.value)">
        <option value="table">Data Table</option>
        <option value="globe">Globe</option>
        <option value="map">Map</option>
      </select> -->
    </div>
  
    <div class="container" id="visualizations">
        <h1 class="display-4">KILLER</h1>
        <h1 class="display-4">VISUALIZATIONS</h1>
        <h1 class="display-4">SERVED</h1>
        <h1 class="display-4">UP</h1>
        <h1 class="display-4">HERE</h1>
    </div>
      

    <div id="footer">
      <p>© 2019 Dream Team</p>
    </div>
  </body>
</html>